.flexibleToolbar {
	min-height: 200px;
}

.cardContainer {
	position: absolute;
	width: 900px;
	margin-top: -64px;
	z-index: 2000!important;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 100px;
}

.cat {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
